<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="public/css/main.css">
</head>
<body>
<%- include('partials/navigation', { menuLinks, activeLinkPath }) %>
<main>
    <h1 class="heading">Products</h1>
    <% if (products.length > 0) { %>
        <ul>
            <% products.forEach(p => { %>
                <li>Name: <%= p.name %>, Description: <%= p.description %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <div>No products available.</div>
    <% } %>
</main>
</body>
</html>

